{% extends 'template.html' %} 
{% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Lambda Guitars</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Proudly hand built in America
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br /><br />
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio
          maximus, tempus arcu a, consequat nisi. In commodo massa sed neque
          ullamcorper, pulvinar vehicula ligula tincidunt. Suspendisse auctor
          sit amet justo vel scelerisque. Curabitur tincidunt molestie erat, ac
          bibendum eros volutpat vitae. Ut vel consequat urna. Fusce tristique
          ut lorem at lobortis. Ut euismod, justo malesuada venenatis mattis,
          ligula orci volutpat quam, eget hendrerit tellus lacus non sem. Duis
          sit amet ipsum sed nunc finibus convallis. Ut sodales non mi ac
          ornare. Quisque at porta nisi, non suscipit eros. Phasellus libero
          elit, tempor et orci ac, tincidunt viverra diam. Donec aliquet ac leo
          non blandit. Praesent vehicula urna sapien, eget hendrerit tortor
          condimentum vitae. Interdum et malesuada fames ac ante ipsum primis in
          faucibus. Donec eget velit a nunc semper tristique at fermentum felis.
          Proin hendrerit, risus sed suscipit ornare, dui neque egestas urna,
          nec sodales turpis nisi ac dolor.
        </p>
        <p>
          In pretium non lacus vitae scelerisque. Phasellus vulputate ut mauris
          et pellentesque. Sed enim nunc, malesuada in lorem et, congue egestas
          mi. Proin scelerisque ut risus at tempor. Aliquam magna massa,
          scelerisque eget orci sit amet, imperdiet bibendum magna. In hac
          habitasse platea dictumst. Duis et euismod elit, eget viverra sem.
          Suspendisse egestas ultricies accumsan. Praesent a sodales lacus, a
          egestas diam. Ut accumsan egestas libero at consectetur. Phasellus non
          lectus vestibulum, mattis purus sit amet, efficitur massa.
        </p>
        <p>
          Sed eu pulvinar odio. Nunc turpis ligula, scelerisque ac orci ut,
          faucibus convallis ante. Nam lacinia augue eget tellus pulvinar, eu
          dapibus ex fermentum. Nulla et tempus urna. Cras pretium diam nec diam
          accumsan vulputate. Sed mattis purus non scelerisque sollicitudin.
          Nulla sed sagittis lorem, vitae condimentum augue. Etiam molestie
          vestibulum ipsum, eu pellentesque erat scelerisque vitae.
        </p>
        <br /><br />
      </div>
    </center>
  </div>
</div>
{% endblock %}
