{% extends 'template.html' %}
{% include 'navbar.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Login</h1>
        <p class="lead fw-normal text-white-50 mb-0">
          Log in to your account
        </p>
      </div>
    </div>
</header>
<div class="container my-5">
    <div class="row">
        <center>
            <div class="col-8">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="mb-3 mt-4">
                        <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
                    </div>
                    <button type="submit" class="btn btn-secondary mt-4">Login</button>
                </form>
            </div>
        </center>
    </div>
</div>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<footer class="py-5 bg-dark w-100" style="position: absolute; bottom: 0;">
    <div class="container">
      <p class="m-0 text-center text-white">
        Copyright &copy; Lambda Guitars 2023
      </p>
    </div>
</footer>

{% endblock %}