{% extends 'template.html' %} 
{% block content %}
<br/><br/><br/><br/><br/><br/>

<div class="container mt-5 mb-5">
    <center>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ product.product_image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  {% if product.on_sale %}
                    <div
                        class="badge text-white position-absolute"
                        style="top: 0.5rem; right: 0.5rem; background-color: rgb(180, 0, 0)">
                        On Sale
                    </div>
                    <p class="card-text"><small class="text-body-secondary">Regular Price: <strike>${{ product.price }}</small></strike></p>
                    <p class="card-text"><small class="text-body-secondary">Sale Price: ${{ product.sale_price }}</small></p>
                  {% else %}
                    <p class="card-text"><small class="text-body-secondary">${{ product.price }}</small></p>
                  {% endif %}
                  <button type="button" value="{{ product.id }}" id="add-cart" class="btn btn-secondary mt-auto mb-5">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <a href="{% url 'all_products' %}"><button class="btn btn-dark mt-5 mb-5">Back to Shop</button></a>
    </center>
</div>

<footer class="py-5 bg-dark w-100" style="position: absolute; bottom: 0;">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; Lambda Guitars 2023
    </p>
  </div>
</footer>

<script>
  // Check if the button is pressed
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url 'cart_add' %}',
      data: {
        product_id: $('#add-cart').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json){
        // Display the cart count
        document.getElementById('cart_count').innerHTML = json.count
      },
      error: function(xhr, errmsg, err){
        console.log(xhr)
        console.log(errmsg)
        console.log(err)
      }
    });
  });
</script>

{% endblock %}