{% extends 'template.html' %}
{% include 'navbar.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Register</h1>
        <p class="lead fw-normal text-white-50 mb-0">
          Sign up for an account today!
        </p>
      </div>
    </div>
</header>
<div class="container my-5">
    <div class="col-md-6 offset-md-3">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <br/><br/>
            <button type="submit" class="btn btn-secondary">Register</button>              
        </form>
    </div>
</div>
<footer class="py-5 bg-dark w-100" style="position: absolute; bottom: 0;">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; Lambda Guitars 2023
    </p>
  </div>
</footer>

{% endblock %}